# Node dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Editor/IDE files
.vscode/

.Tilbakemlding.txt
.connection_details_aiven.txt
users.txt










